<!DOCTYPE html>
<html>
<head>
    <title>Email Form</title>
</head>
<body>
    <h1>Email Form</h1>
    <form action="{% url 'send_email' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="to">To:</label>
        <input type="email" id="to" name="to" required><br><br>

        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required><br><br>

        <label for="message">Body:</label><br>
        <textarea id="message" name="message" required></textarea><br><br>

        <label for="document">Document:</label>
        <input type="file" id="document" name="document"><br><br>

        <input type="submit" value="Send Email">
    </form>
</body>
</html>
